Repository trieutrinh/trieutrinh.github.io, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docker, area/github, area/scripts, area/jekyll, area/taskfile

edit website
  website/assets/docs/Resume.docx
Labels: area/jekyll

edit flow
  .github/workflows/jekyll-build.yaml
Labels: area/github

ok
  .github/workflows-temp/docker-build-and-push.yaml
  .github/workflows-temp/jekyll-build.yaml
  .github/workflows-temp/link-checker.yaml
  .github/workflows-temp/meta-label-sync.yaml
  .github/workflows-temp/meta-labeler.yaml
  .github/workflows-temp/renovate.yaml
Labels: area/github

revert gitflow
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/jekyll-build.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/meta-label-sync.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

comment github action
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/meta-label-sync.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

init develop
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/jekyll-build.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/meta-label-sync.yaml
  .github/workflows/renovate.yaml
  website/assets/docs/CV_TRIEU.txt
Labels: area/github, area/jekyll

remove file temp
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  Dockerfile
Labels: area/docker, area/github

edit homepage & modify CV
  website/_tabs/about.md
  website/assets/docs/CV_TRIEU.txt
  website/assets/docs/trieu.pdf
Labels: area/jekyll

edit site url
  website/_config.yml
Labels: area/jekyll

revert permission
  .devcontainer/devcontainer.json
  .github/CODEOWNERS
  website/_config.yml
  website/_data/contact.yml
  website/_posts/2022-09-17-hello-world.md
Labels: area/docker, area/github, area/jekyll

zabbix monitoring
  website/_posts/2022-05-21-install-zabbix-monitoring-tool.md
  website/_tabs/about.md
  website/assets/img/favicons/android-chrome-192x192.png
  website/assets/img/favicons/android-chrome-512x512.png
  website/assets/img/posts/2022-05-21-install-zabbix-monitoring-tool/zabbix_architecture.jpg
Labels: area/jekyll

start page demo
  website/Gemfile
  website/_config.yml
  website/_data/contact.yml
  website/_posts/2020-04-24-demo.md
  website/_posts/2022-05-21-install-zabbix-monitoring-tool.md
  website/_posts/2022-09-17-hello-world.md
  website/_tabs/about.md
  website/_tabs/categories.md
  website/assets/img/posts/2020-04-24-demo/featured.webp
  website/assets/img/posts/2022-05-21-install-zabbix-monitoring-tool/header.jpg
Labels: area/jekyll

.github/labeler.yaml:

---
area/docker:
  - changed-files:
      - any-glob-to-any-file: ".dockerignore"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: ".devcontainer/devcontainer.json"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"

area/jekyll:
  - changed-files:
      - any-glob-to-any-file: "website/**/*"

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
